.main.container {
  padding-bottom: 6em;
  padding-top: 1em;
}

.add-realty {
  li {
    padding: 3px 20px;
    cursor: pointer;
  }

  .dropdown-header {
    font-size: 1.2em;
    cursor: default;
  }
}